.vscode/**
.vscode-test/**
node_modules/**
src/**
docs/**
media-src/**
media/vditor-source/**
media/less/**
OolongNoteDock_DESIGN.md
markdown-syntax-sample.md
CLAUDE.md
.eslintrc.cjs
.prettierignore
.prettierrc.json
.gitignore
**/*.map
**/*.log
coverage/**
tmp/**
temp/**
**/*.tsbuildinfo
**/*.swp
**/*.swo
**/*.tmp
**/*.vsix
